@media print {
    button {
        display: none;
    }
}

.full-name-container {
    font-size: 32px;
    font-weight: bold;
    margin-top: 3%;
}

.job-title {
    margin-top: 1%;
    font-size: 24px;
    font-weight: bold;
}

.introduction {
    font-size: small;
}

#introduction {
    min-width: 99%;
    max-width: 99%;
}

.edit-mode {
    border: 1px solid black;
    width: 100%;
}