<div class="company-container" *ngFor="let company of companies">

    <div>
        <span>{{company.jobTitle}}</span>
        <span style="float:right">{{getMonthName(company.startMonth)}} {{company.startYear}} - {{getMonthName(company.endMonth)}} {{company.endYear}}</span>
    </div>
    
    {{company.companyName}}

    <div class="assignment-container" *ngFor="let assignment of getAssignments(company.companyName)">
        {{assignment.employmentType}}: <span *ngIf="assignment.employmentType != 'Bench'">{{assignment.companyName}}</span>

        <div>
            <span>{{assignment.jobTitle}}</span>
            <span style="float:right">{{getMonthName(assignment.startMonth)}} {{assignment.startYear}} - {{getMonthName(assignment.endMonth)}} {{assignment.endYear}}</span>
        </div>
        
        
        
        <div class="secondary-assignment-container" *ngFor="let assignment of getAssignments(assignment.companyName)">
            {{assignment.employmentType}}: <span *ngIf="assignment.employmentType != 'Bench'">{{assignment.companyName}}</span>
            
            <div class="secondary-assignment-details-container">
                {{getMonthName(assignment.startMonth)}} {{assignment.startYear}} - {{getMonthName(assignment.endMonth)}} {{assignment.endYear}}
            </div>
            
            <app-accomplishments [company]="assignment.assignment" [assignment]="assignment.companyName"></app-accomplishments>
            
        </div>

        
        <app-accomplishments [company]="assignment.assignment" [assignment]="assignment.companyName"></app-accomplishments>
    </div>

    
    <app-accomplishments [company]="company.assignment" [assignment]="company.employmentType"></app-accomplishments>
</div>


    


