<div class="resume-container">
    
    <div class="left-side-container">
        <app-about-me [id]=id></app-about-me>
        <app-work-experience-tree></app-work-experience-tree>
        <app-previous-experience></app-previous-experience>
    </div>

    <div class="right-side-container">

        <app-image [id]=id></app-image>

        <div class="right-side-child-container">
            <app-contact [id]=id></app-contact>
        </div>

        <div class="right-side-child-container">
            <app-skills></app-skills>
        </div>

        <div class="right-side-child-container">
            <app-education [resumeId]=id></app-education>
        </div>

        <div class="right-side-child-container">
            <app-sites [resumeId]=id></app-sites>
        </div>
    </div>

</div>