<div class="resume-container">
    
    <div class="left-side-container">
        <app-about-me></app-about-me>
            
        <div class="work-experience-container">
            <h4>Work Experience</h4>
            <div class="work-experience-child-container">
                <div class="job-title-and-dates">
                    <span class="job-title">Software Developer</span><span class="dates">September 2021 - February 2023</span>
                </div>
                <div class="job-title-and-dates">
                    <span class="job-title">Revature</span><span class="dates">Remote</span>
                </div>
                

                <div class="revature-child-container">
                    <div class="cognizant-container">
                        
                        <div class="job-title-and-dates">
                            <span class="job-title">Test Automation Engineer</span><span class="dates">February 2022 - February 2023</span>
                        </div>

                        <div class="job-title-and-dates">
                            <span class="job-title">Contract: Cognizant</span><span class="dates">Remote</span>
                        </div>

                        <div class="cognizant-child-container">
                            September 2022 - February 2023<br>
                            Bench | Remote
                            <ul>
                                <li>Continued to assist Automation Lead for Bank of New York Mellon project as issues arose</li>
                                <li>Began learning basics of Docker, Jenkins, and chatGPT</li>
                                <li>Worked through and completed Hackerrank Java to keep fresh on concepts</li>
                                <li>Expanded knowledge and experience for SpringBoot, Angular, Maven, Git, HTML, CSS, JavaScript, TypeScript</li>
                            </ul>
                        </div>

                        <div class="cognizant-child-container">
                            Mar 2022 - August 2022 <br>
                            Project: Bank of New York Mellon | Remote<br>
                            <ul>
                                <li>Implemented test reporting and automated attaching scenario level reports to their respective JIRA ticket</li>
                                <li>Analyzed code base and modified existing automation scripts which reduced test execution time by 90%</li>
                                <li>Re-configured framework to use Oracle database for dynamic test data (previously static excel spreadsheet)</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="revature-child-container">
                    <div class="revature-training">
                        September 2021 - January 2022 <br>
                        Training <br>
                        Full stack training program | Java | SpringBoot | Angular |
                    </div>
                </div>
            </div>

            <app-previous-experience></app-previous-experience>
            
        </div>
    </div>






    <div class="right-side-container">

        <app-image></app-image>

        <div class="right-side-child-container">
            <app-contact></app-contact>
        </div>

        <div class="right-side-child-container">
            <div class="skills-container">
                <h4>SKILLS</h4>
                <hr>
                <div class="skill-grid-container">
                    <div class="skill-grid-item-container">
                        <span>Front-End</span> 
                        <ul>
                            <li>Angular</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>TypeScript</li>
                        </ul>
                    </div>

                    <div class="skill-grid-item-container">
                        <span>Back-End</span>
                        <ul>
                            <li>Java</li>
                            <li>SpringBoot</li>
                            <li>SQL</li>
                            <li>Hibernate</li>
                            <li>JDBC</li>
                        </ul>
                    </div>

                    <div class="skill-grid-item-container">
                        <span>Testing</span>
                        <ul>
                            <li>Selenium</li>
                            <li>Cucumber</li>
                            <li>TestNG</li>
                            <li>ExtentReports</li>
                        </ul>
                    </div>

                    <div class="skill-grid-item-container">
                        <span>DevOps</span>
                        <ul>
                            <li>Maven</li>
                            <li>GitHub</li>
                            <li>Jenkins</li>
                            <li>Docker</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="right-side-child-container">
            <app-education></app-education>
        </div>

        <div class="right-side-child-container">
            <app-sites></app-sites>
            
        </div>
    </div>

</div>