.previous-experience {
    margin-top: 4%;
}

.previous-experience h4 {
    margin-top: 0;
    margin-bottom: 1%;
    padding: 0;
}

.previous-experience-child-container {
    padding-top: 0;
    margin-bottom: 1%;
    font-size: small;
}

.dates {
    float: right;
}












