.skills-container h4 {
    margin: 1%;
}

.skills-container hr {
    opacity: 25%;
}

.skill-grid-container {
    display: grid;
    grid-template-columns: auto auto;
}

.skill-grid-item-container {
    border: 1px solid rgba(230, 224, 224, 0.2);
    background-color: rgba(214, 221, 243, 0.1);
    margin: 2%;
    padding-top: 2%;
    padding-left: 2%;
}

.category-header {
    font-weight: bold;
    opacity: 0.8;
}

.skill-grid-item-container ul {
    margin-top: 5%;
    padding-left: 20%;
}
