.sites-container div {
    margin-left: 3%;
}

.sites-container h4 {
    margin: 1%;
}

.sites-container hr {
    opacity: 25%;
}

div a {
    text-decoration: none;
    font-size: x-small;
    color: black;
}